## 1 - Amostragem

In [1]:
# importando as bibliotecas
import numpy as np
import statsmodels.api as sm
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy import stats
import statistics
import random

In [2]:
# import da base de dados de censo americano
df = pd.read_csv('bases/census.csv')

In [3]:
df.shape

(32561, 15)

In [4]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1.1 - Amostragem AleatÃ³ria Simples

In [5]:
# selecionando aleatoriamente 100 registros diferentes
df_amostra_aleatoria_simples = df.sample(n = 100)
df_amostra_aleatoria_simples.shape

(100, 15)

In [6]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
23235,19,Private,104844,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
8560,32,Private,112176,Some-college,10,Divorced,Sales,Own-child,White,Male,0,0,30,United-States,<=50K
12571,29,Private,108574,Assoc-voc,11,Never-married,Priv-house-serv,Own-child,White,Female,0,0,40,United-States,<=50K
16592,40,Private,182140,HS-grad,9,Separated,Transport-moving,Unmarried,Black,Male,0,0,40,United-States,<=50K
2367,34,Self-emp-inc,215382,Masters,14,Separated,Prof-specialty,Not-in-family,White,Female,4787,0,40,United-States,>50K

### 1.2 - Amostragem SistemÃ¡tica

In [7]:
# queremos amostra de 100 pessoas
# entÃ£o, selecionaremos as pessoas de 325 e 325 pessoas
df.shape[0] // 100

325

In [8]:
# funÃ§Ã£o de geraÃ§Ã£o da amostragem sistemÃ¡tica
def amostragem_sistematica(dataset, amostras):
    intervalo = dataset.shape[0] // amostras
    random.seed(1)
    # seleÃ§Ã£o do nÃºmero aleatÃ³rio inicial entre 0 e 325
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset), step = intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [9]:
# aplicaÃ§Ã£o da funÃ§Ã£o
df_amostragem_sistematica = amostragem_sistematica(df, 100)
df_amostragem_sistematica.shape

(100, 15)

In [10]:
df_amostragem_sistematica.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K

### 1.3 - Amostragem por Grupos

In [11]:
# funÃ§Ã£o amostragem por grupos
# segmenta a base de dados em grupos com qtd de pessoas iguais e seleciona aleatoriamente um grupo
def amostragem_agrupamento(dataset, numero_grupos):
    intervalo = len(dataset) // numero_grupos

    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in dataset.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1
    
    dataset['grupo'] = grupos
    random.seed(2)
    grupo_selecionado = random.randint(0, numero_grupos)
    return dataset[dataset['grupo']==grupo_selecionado]

In [12]:
# aplicando a funÃ§Ã£o de amostragem por grupos
df_amostra_agrupamento = amostragem_agrupamento(df, 326)
df_amostra_agrupamento.shape

(100, 16)

In [13]:
df_amostra_agrupamento.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
2800,47,Private,168283,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,28
2801,17,Private,295488,11th,7,Never-married,Other-service,Own-child,Black,Female,0,0,25,United-States,<=50K,28
2802,35,Private,190895,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K,28
2803,33,Private,164190,Masters,14,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K,28
2804,25,Private,216010,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,<=50K,28

### 1.4 - Amostragem Estratificada

In [14]:
# importar biblioteca que faz a extraÃ§Ã£o estratificada
from sklearn.model_selection import StratifiedShuffleSplit

In [15]:
# quantidade de pessoas por salÃ¡rio: menor ou maior que 50K ano
# 75% da base recebe menos que 50k ano
df['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [28]:
# selecionar a variavel income para ser extratificada
def amostragem_estratificada(dataset, amostras, feature):
    percentual = amostras / dataset.shape[0] 
    split = StratifiedShuffleSplit(test_size= percentual)
    for _, y in split.split(dataset, dataset[feature]):
        df_y = df.iloc[y]
    return df_y

In [26]:
# aplicaÃ§Ã£o da funÃ§Ã£o
df_amostragem_estratificada = amostragem_estratificada(df, 100, 'income')
df_amostragem_estratificada.shape

(100, 16)

In [21]:
# a distribuiÃ§Ã£o da renda anual segue como a da base total, conforme querÃ­amos
df_amostragem_estratificada.income.value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

### 1.5 - Amostragem de ReservatÃ³rio

In [31]:
# funÃ§Ã£o de amostragem de reservatÃ³rio
# essa tipo de amostragem Ã© utilizado em stream de dados, em que nao se sabe o tamanho da base
# nem se sabe a caracteristica dos dados, ou seja Ã© uma esteira de dados em que dados nÃ£o pinÃ§ados
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)
    
    i = 0
    tamanho = len(dataset)

    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]
    
    while i < tamanho:
        j = random.randrange(i + 1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1

    return df.iloc[reservatorio]

In [32]:
# aplicaÃ§Ã£o da funÃ§Ã£o de amostragem de reservatÃ³rio
df_amostragem_reservatorio = amostragem_reservatorio(df, 100)
df_amostragem_reservatorio.shape

(100, 16)

In [ ]:
df_amostragem_reservatorio.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
14096,53,Private,152810,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,55,United-States,>50K,140
30468,38,?,365465,Assoc-voc,11,Never-married,?,Own-child,White,Male,0,0,15,United-States,<=50K,304
3715,21,Private,344891,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Male,0,0,20,United-States,<=50K,37

### 1.6 - Comparativo das Amostragens

In [44]:
print('MÃ©dia idade da base: ',round(df['age'].mean(),2))
print('MÃ©dia idade da Amostragem AleatÃ³ria Simples: ',round(df_amostra_aleatoria_simples['age'].mean(),2))
print('MÃ©dia idade da Amostragem SistemÃ¡tica: ',round(df_amostragem_sistematica['age'].mean(),2))
print('MÃ©dia idade da Amostragem por Grupos: ',round(df_amostra_agrupamento['age'].mean(),2))
print('MÃ©dia idade da Amostragem Estratificada: ',round(df_amostra_aleatoria_simples['age'].mean(),2))
print('MÃ©dia idade da Amostragem de ReservatÃ³rio: ',round(df_amostragem_reservatorio['age'].mean(),2))

MÃ©dia idade da base:  38.58
MÃ©dia idade da Amostragem AleatÃ³ria Simples:  37.86
MÃ©dia idade da Amostragem SistemÃ¡tica:  37.57
MÃ©dia idade da Amostragem por Grupos:  38.1
MÃ©dia idade da Amostragem Estratificada:  37.86
MÃ©dia idade da Amostragem de ReservatÃ³rio:  37.88

### 1.7 - Comparativo das Amostragens base CartÃ£o de CrÃ©dito

In [45]:
# importando a base de dados de credito
df_cd = pd.read_csv('bases/credit_data.csv')

In [46]:
df_cd['c#default_1'] = df_cd['c#default'].apply(lambda x: str(x))

In [47]:
df_cd.head(3)

   i#clientid        income        age         loan  c#default c#default_1
0           1  66155.925095  59.017015  8106.532131          0           0
1           2  34415.153966  48.117153  6564.745018          0           0
2           3  57317.170063  63.108049  8020.953296          0           0

In [48]:
df_cd['c#default_1'].value_counts()

0    1717
1     283
Name: c#default_1, dtype: int64

In [55]:
# funÃ§Ã£o de amostragem estratificada da base de credito
def amostragem_estratificada(dataset, amostras, feature):
    percentual = amostras / dataset.shape[0] 
    split = StratifiedShuffleSplit(test_size= percentual)
    for _, y in split.split(dataset, dataset[feature]):
        df_y = df_cd.iloc[y]
    return df_y

In [56]:
# funÃ§Ã£o de amostragem de reservatÃ³rio para base de crÃ©dito
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)
    
    i = 0
    tamanho = len(dataset)

    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]
    
    while i < tamanho:
        j = random.randrange(i + 1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1

    return df_cd.iloc[reservatorio]

In [57]:
# aplicaÃ§Ã£o das 5 funÃ§Ãµes de amostragens na base de crÃ©dito
# mesma qtd de amostras: 100
df_cd_amostragem_aleatoria = df_cd.sample(100)
df_cd_amostragem_sistematica = amostragem_sistematica(df_cd, 100)
df_cd_amostragem_agrupamento = amostragem_agrupamento(df_cd, 100)
df_cd_amostragem_estratificada = amostragem_estratificada(df_cd, 100, 'c#default_1')
df_cd_amostragem_reservatorio = amostragem_reservatorio(df_cd, 100)

In [59]:
print('MÃ©dias da base: ',round(df_cd['age'].mean(),2), round(df_cd['income'].mean(),2), round(df_cd['loan'].mean(),2))
print('MÃ©dias da Amostragem AleatÃ³ria Simples: ',round(df_cd_amostragem_aleatoria['age'].mean(),2), round(df_cd_amostragem_aleatoria['income'].mean(),2), round(df_cd_amostragem_aleatoria['loan'].mean(),2))
print('MÃ©dias da Amostragem SistemÃ¡tica: ',round(df_cd_amostragem_sistematica['age'].mean(),2), round(df_cd_amostragem_sistematica['income'].mean(),2), round(df_cd_amostragem_sistematica['loan'].mean(),2))
print('MÃ©dias da Amostragem por Grupos: ',round(df_cd_amostragem_agrupamento['age'].mean(),2), round(df_cd_amostragem_agrupamento['income'].mean(),2), round(df_cd_amostragem_agrupamento['loan'].mean(),2))
print('MÃ©dias da Amostragem Estratificada: ',round(df_cd_amostragem_estratificada['age'].mean(),2), round(df_cd_amostragem_estratificada['income'].mean(),2), round(df_cd_amostragem_estratificada['loan'].mean(),2))
print('MÃ©dias da Amostragem de ReservatÃ³rio: ',round(df_cd_amostragem_reservatorio['age'].mean(),2), round(df_cd_amostragem_reservatorio['income'].mean(),2), round(df_cd_amostragem_reservatorio['loan'].mean(),2))

MÃ©dias da base:  40.81 45331.6 4444.37
MÃ©dias da Amostragem AleatÃ³ria Simples:  42.4 44838.46 4306.52
MÃ©dias da Amostragem SistemÃ¡tica:  40.48 42839.84 4742.21
MÃ©dias da Amostragem por Grupos:  42.29 49697.7 5515.71
MÃ©dias da Amostragem Estratificada:  39.61 43128.94 4369.38
MÃ©dias da Amostragem de ReservatÃ³rio:  40.09 44732.22 4242.87

In [64]:
# verificar as diferenÃ§as entra as mÃ©dias da base e dos tipos de amostragem
print('Diff Amostragem AleatÃ³ria Simples: ', round(abs(40.81 - 42.4),1), round(abs(45331.6 - 44838.46),1), round(abs(4444.37 - 4306.52),1))
print('Diff Amostragem SistemÃ¡tica: ', round(abs(40.81 - 40.48),1), round(abs(45331.6 - 42839.84),1), round(abs(4444.37 - 4742.21),1))
print('Diff Amostragem por Grupos: ', round(abs(40.81 - 42.29),1), round(abs(45331.6 - 49697.7),1), round(abs(4444.37 - 5515.71),1))
print('Diff Amostragem Estratificada: ', round(abs(40.81 - 39.61),1), round(abs(45331.6 - 43128.94),1), round(abs(4444.37 - 4369.38),1))
print('Diff Amostragem ReservatÃ³rio: ', round(abs(40.81 - 40.09),1), round(abs(45331.6 - 44732.22),1), round(abs(4444.37 - 4242.87),1))
# Em geral, os melhores resultados sÃ£o da AleatÃ³ria Simples e ReservatÃ³rio

Diff Amostragem AleatÃ³ria Simples:  1.6 493.1 137.8
Diff Amostragem SistemÃ¡tica:  0.3 2491.8 297.8
Diff Amostragem por Grupos:  1.5 4366.1 1071.3
Diff Amostragem Estratificada:  1.2 2202.7 75.0
Diff Amostragem ReservatÃ³rio:  0.7 599.4 201.5